@import '../utils/variables';

.card-thumb {
    position: relative;
    overflow: hidden;
  }
  
  .grid-cardset__link:hover > .card-thumb::before {
    transform: translateY(0);
  }
  
  .thumb-overlay {
    display: block;
    position: absolute;
    background-color: $color-accent;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .thumb-overlay__text {
    box-sizing: border-box;
  
    display: block;
    position: absolute;
  
    width: 100%;
    color: $color-primary;
    font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
  }
  
  .grid-cardset__link:hover .thumb-overlay {
    transform: translateY(0);
  }